# ==========================================
# 1. AI Engine API Keys
# ==========================================
GEMINI_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
DEEPSEEK_API_KEY=

# ==========================================
# 2. SEO & Domain Website Configuration
# ==========================================
# URL domain production website Anda di Vercel (atau custom domain)
# Contoh: https://teacher-hub-edu.vercel.app atau https://namadomainanda.com
NEXT_PUBLIC_SITE_URL="https://teacher-hub-edu.vercel.app"

# Kode Verifikasi Google Search Console (HTML Tag verification)
# Dapatkan di: https://search.google.com/search-console
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION="EZGzruKZCXFxNGzfOouPPxQYLYu2xel7IZizrapRZ3Y"

# ==========================================
# 3. Google Analytics 4 (GA4) Visitor Tracking
# ==========================================
# ID Pengukuran Google Analytics (Measurement ID)
# Dapatkan di: https://analytics.google.com -> Admin -> Data Streams -> Web
# Format: G-XXXXXXXXXX
NEXT_PUBLIC_GA_ID="G-22467Q8ZFB"

# ==========================================
# 4. Konfigurasi Donasi & Saweria
# ==========================================
NEXT_PUBLIC_DONATION_BANK_NAME="BCA (Bank Central Asia)"
NEXT_PUBLIC_DONATION_ACCOUNT_NAME="Sulistiya Nugroho"
NEXT_PUBLIC_DONATION_BANK_ACCOUNT="7540194755"
NEXT_PUBLIC_DONATION_QRIS_IMAGE="/images/QR Gopay.jpeg"
NEXT_PUBLIC_DONATION_SAWERIA_USERNAME="sulistiyanugroho"
NEXT_PUBLIC_DONATION_SAWERIA_URL="https://saweria.co/sulistiyanugroho"

# ==========================================
# 5. Webhook Google Sheet untuk Aspirasi Guru
# ==========================================
GOOGLE_SHEET_WEBHOOK_URL="https://script.google.com/macros/s/AKfycbw8CEt5W4BpGRUmbfEugLpi_fCrQzmuxQfzjq2B98XRnka_iLhu_c_e7UIaI-98oVp59Q/exec"
